<h3>Home</h3>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>This website has been active since <%= @owner.birthdate %>.</p>
<p>Only <%= @owner.countdown %> days until my website's birthday!</p>